body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  overflow: hidden;
  background: black;
}

.bgVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    object-fit: cover;
}

.textBlock {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

.longText {
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
  line-height: 1.6;
}
h1 {
  font-size: 60px;
  margin: 0;
}
p {
  max-width: 600px;
  margin: 10px auto;
}
   nav {
    position: absolute;
    top: 75%;         
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;
}

a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 25px;
}

.home-title {
    color: #add8e6;
}

.home-text {
    color: #fff9c4;
    margin-top: 20px; 
    font-size: 1.2rem;
}

.about-image {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
}

#gif1 {
  position: absolute;
  top: 48%;
  left: 8%;
  width: 140px;  
  height: auto;
  z-index: -1;
}

#gif2 {
  position: absolute;
  top: 68%;    
  right: 15%;  
  width: 140px;  
  height: auto;
  z-index: -1;
}

#gif3 {
  position: absolute;
  top: 2%;
  right: 8%; 
  width: 100px;
  height: auto;
  z-index: -1;
}
